.club-card {
  background: #f9f9f9;
  box-shadow: 1px 1px 2px #d3d3d3;

  padding: 20px;
  width: 35vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5rem;
  border-radius: 15px;
  border: 1px solid rgb(162, 162, 162);
 
  transition:
    transform 0.35s ease,
    width 0.35s ease,
    height 0.35s ease,
    box-shadow 0.35s ease;

  cursor: pointer;
  position: relative;
  z-index: 1;

}

/* expanded state */
.club-card.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%) scale(1.2);
  width: 70vw;
  height: 50vh;
  justify-content: flex-start;
  padding: 20px;
  border: 3px solid rgb(187, 187, 187);
  box-shadow: 0 20px 80px rgba(0,0,0,0.4), 
            0 0 0 9999px rgba(0,0,0,0.65);
  z-index: 9999;
}


.club-img {
  background-color: #eee;
  border-radius: 8px;
  width: 100px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

 .club-info h2 {
  margin: 0;
  color: rgb(221, 6, 6);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  letter-spacing: -1.2px;
  font-style: normal;
}

.club-info h3 {
  margin: 0;
  color: rgb(0, 0, 0);
  font-family: "Inter", sans-serif;
  font-size: medium;
  font-weight: 400;
  letter-spacing: 0.9px;
  

}

.heart-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 30px;
  height: 28px;
  cursor: pointer;
  z-index: 50;
  transition: transform 0.12s ease;
  user-select: none;
}

/* cute pop animation */
.heart-btn.pop {
  transform: scale(1.35);
}

.heart-btn.pop {
  animation: heart-pop 0.25s ease forwards;
}

@keyframes heart-pop {
  0% { transform: scale(1); }
  40% { transform: scale(1.35); }
  100% { transform: scale(1); }
}
