.clubs-list {
  display: grid;
  grid-template-columns: repeat(2, 0.5fr);
  gap: 25px;
  min-width: 10px;
  width: 80vw;
  max-width: 20000;
  margin: 0 auto 2rem auto;
  justify-items: center;
}

@media (max-width: 600px) {
  .clubs-list {
    grid-template-columns: 1fr;
    width: 65vw;
  }
}