.club-card {
  background: white;
  padding: 20px;
  width: 260px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;

  transition:
    transform 0.35s ease,
    width 0.35s ease,
    height 0.35s ease,
    box-shadow 0.35s ease;

  cursor: pointer;
  position: relative;
  z-index: 1;

}

/* expanded state */
.club-card.expanded {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  width: 70vw;
  height: 70vh;
  justify-content: flex-start;
  padding: 40px;

  box-shadow: 0 20px 50px rgba(0,0,0,0.25);
  z-index: 9999;
}


.club-img {
  background-color: #eee;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.club-info h2 {
  margin: 0;
  color: #b00;
}

