.expanded-card {
  position: fixed;
  inset: 0;               /* ← fills viewport */
  margin: auto;           /* ← centers */
  width: 120vh;
  height: fit-content;

  background: rgb(252, 252, 252);
  border-radius: 0px;

  display: flex;
  flex-direction: column;
  align-items: center;

  border: 1px solid rgb(162, 162, 162);
  border-radius: 15px;
  box-shadow: 0 20px 80px rgba(0,0,0,0.4), 
            0 0 0 9999px rgba(0,0,0,0.65);
  z-index: 9999;   
}


.close-btn {
  position: absolute;
  top: 16px;
  right: 20px;

  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  line-height: 1;
}
