.icon-bar{
  width: 900px;
  height: 130px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 1% auto 2vh auto;  
  display: flex;
  margin-top: 1%;
  margin-bottom: 2%;
  justify-content: space-around;
  align-items: center;
  padding: 0 0px;
  box-sizing: border-box;
}
.icon-container.active::before {
  content: '';
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90px;       
  height: 90px;
  border-radius: 50%;
  background-color: rgb(255, 166, 166);
  z-index: 0; 
}
.icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  margin-top: 10px;
}

.icon-container img {
    transition: transform 0.9s ease;
}

.icon-container.active img {
transform: scale(1.1);
}

.icon {
    width: 72px;
    height: 72px;
    object-fit: containt;
    object-fit: contain;
    cursor: pointer;
    z-index: 1;
    }

.icon-label {
margin-top: 20px;
font-size: 0.8rem;
color: #d14545;
}