.icon-bar{
  width: 900px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 2vh;  
  margin-top: 1%;
  justify-content: center;
  display: flex;
  align-items: center;
  border-radius: 10px;
}

.icon {
    width: 72px;
    height: 72px;
    margin-right: 40px;
    object-fit: contain;
    cursor: pointer;
    }