.club-input-wrapper {
    background-color: white;
    width: 900px;
    
    border-radius: 35px; 
    height: 3rem;
    padding: 0 10px;
    box-shadow: 0px 0px 4px #bcbcbc;
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 2%;

}

input::placeholder {
    color: rgb(208, 81,81);
    opacity: 1;
    border-radius: 25px;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    border-radius: 35px;
    color: rgb(208, 81, 81);

}

input:focus {
    outline: none;
}

.search-icon {
    color: rgb(0, 0, 0);
}