.club-input-wrapper {
    width: 90vw;
    max-width: 900px;
    height: 3rem; 
    border-radius: 35px; 
    background-color: white;
    padding: 0 10px;

    margin-top: 1%;
    margin-bottom: 3%;

    display: flex;
    align-items: center;

    box-shadow: 0px 0px 4px #bcbcbc;
    border: 2px solid black;
}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    border-radius: 35px;
    color: rgb(208, 81, 81);

}

input::placeholder {
    color: rgb(208, 81,81);
    opacity: 1;
    border-radius: 25px;
}



input:focus {
    outline: none;
}

.search-icon {
    color: rgb(0, 0, 0);
}