/* UniversityPage.css */
.UniPage {
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center;     /* centers horizontally */
  justify-content: flex-start;
  min-height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* align content toward the top */
  align-items: center;
  padding-top: 2vh; /* adjust this number (10–20vh) for spacing */
}

/* .spacer {
  flex-grow: 0.05;
} */

.search-bar-container {
  padding-top: 1vh;
  width: 61%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UniName {
  color: #e1281b; /* blue */
  font-size: 3rem;
  font-weight: bold;
  margin-top: 1rem;
  margin: 0;
}

.center{
    float: auto
}

#iconBox{
  width: 900px;
  height: 80px;
  background-color: white;
  margin-bottom: 2vh;  
  margin-top: 1%;
  background-color: rgb(255, 255, 255);
}

/* .grid-container {

  display: grid;

  grid-template-columns: repeat(5, 1fr);

  gap: 20px;

  width: 90%;

  max-width: 1200px;

  margin-top: 3vh;

  margin-bottom: 3vh;

  padding: 0 20px;

}

.grid-box {

  background-color: #888;

  aspect-ratio: 1;

  min-height: 200px;

  border-radius: 8px;

} */
