/* UniversityPage.css */
.UniPage {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;     /* centers horizontally */
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  padding-top: 2vh;
  box-sizing: border-box;
  color: rgb(0, 0, 0); /* Sets the text color to red */
}
.raleway-uni {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 0 0 1rem 0; /* or whatever weight you want */

}


.header-wrapper {
  width: 40vw;
  min-width: 300px;
  max-width: 900px;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

}




/* .grid-container {

  display: grid;

  grid-template-columns: repeat(5, 1fr);

  gap: 20px;

  width: 90%;

  max-width: 1200px;

  margin-top: 3vh;

  margin-bottom: 3vh;

  padding: 0 20px;

}

.grid-box {

  background-color: #888;

  aspect-ratio: 1;

  min-height: 200px;

  border-radius: 8px;

} */
