/* UniversityPage.css */

.UniPage {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  align-items: center;     /* centers horizontally */
  justify-content: flex-start;
  min-height: 100vh;
  width: 100%;
  padding-top: 2vh;
  box-sizing: border-box;
  color: rgb(0, 0, 0); /* Sets the text color to red */
}
.raleway-uni {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 2 1 0.9rem 1; /* or whatever weight you want */
}


.header-wrapper {
  width: 40vw;
  min-width: 300px;
  max-width: 900px;
  margin: 0 auto 2rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;

}

.dock-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  align-items: center;
  width: 100%;
  
  animation: slideDown 1 linear both;
  
  animation-timeline: scroll();
  animation-range: 0% 100%;
  
  transition: scale 1.4s ease;
}

/* when docking to bottom */
.dock-wrapper.docked {
  position: fixed;
  bottom: 0;
  z-index: 999;
  padding-bottom: 0.7rem;
  scale: 0.98;
}

/* stops page from jumping up */
.dock-spacer {
  height: 170px; /* adjust depending on icon bar height */
}

/* wrapper for search bar only */
.club-input-wrapper-outer {
  width: 100%;
  display: flex;
  justify-content: center;
}

.glass-bar {
  position: absolute;
  bottom: 30;       /* slightly below the dock */
  width: 90vw;
  height: 210px;

  background: #f4f4f5;
  border-radius: 20px;
  z-index: -1;
  box-shadow: 0px 0px 5px #828282;
}



/* .grid-container {

  display: grid;

  grid-template-columns: repeat(5, 1fr);

  gap: 20px;

  width: 90%;

  max-width: 1200px;

  margin-top: 3vh;

  margin-bottom: 3vh;

  padding: 0 20px;

}

.grid-box {

  background-color: #888;

  aspect-ratio: 1;

  min-height: 200px;

  border-radius: 8px;

} */
