/* UniversityPage.css */
.UniPage {
  background-color: #e1e1e1;
  display: flex;
  flex-direction: column;
  align-items: center;     /* centers horizontally */
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  padding-top: 10vh;
  text-align: center;
}

.img {
  display: block;
  margin: 0 auto;
  max-width: 150px;
}

.UniName {
  color: #e1281b;
  font-size: 2.5rem;
  font-weight: bold;
  margin: 1rem 0;
}

/* #iconBox {
  width: 600px;
  height: 60px;
  background-color: #fff;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
} */

.uni-search-bar-container {
  margin-top: 4vh;
  width: 60%;
  display: flex;
  justify-content: center;
}