.UniPage {
  background-color: #eee;
  display: flex;
  flex-direction: column;
  align-items: center;   /* horizontal centering */
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* align content toward the top */
  align-items: center;
  padding-top: 5vh; /* adjust this number (10–20vh) for spacing */
}

.spacer {
  flex-grow: .05; /* pushes the search bar down */
}

.search-bar-container {
  padding-top: 0%;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.UniName {
  color: #c82727; /* red */
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#iconBox{
  width: 50%;
  height: 70px;
  background-color: rgb(255, 255, 255);
  margin-bottom: 3vh;
}
