.results-list {
  width: 100%;
  background-color: #f4f4f5;
  display: flex;
  flex-direction: column;
  border-radius: 0px;
  margin-top: 5%;
  max-height: 300px;
  overflow-y: scroll;
  box-shadow: 0.5px 0.5px 1px #d3d3d3;

}