.welcome-text {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 7.5rem;
    font-weight: 750px;
    margin-top: 20%;
    margin-bottom: 1%;
    text-align: center;
    font-style: italic;
    color: #000000;
    transform: scaleY(1.5);
    display: inline-block;

}

.come-text {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-style: italic;
  margin-left: 5.5rem; /* adjust this until it looks right */
}

.input-wrapper {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-radius: 10px;
    height: 2.7rem;
    padding: 0 15px;
    box-shadow: 0.5px 0.5px 1px #000000;
    display: flex;
    align-items: center;
    margin-left: 1%;
    
    border: 2px solid #000000;
    border-radius: 25px; 



}

input {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
    color:rgb(219, 180, 74);
}

input::placeholder {
    color: rgb(239, 107, 7);
    opacity: 1;
}

input:focus {
    outline: none;
}

#search-icon {
    color: royalblue;
}

.raccoon-wrapper {
  position: relative;
  display: inline-block;
}

.raccoon-icon {
  position: absolute;
  top: -170px; /* move it upward */
  left: -50; /* adjust horizontally */
  height: 12rem;
  width: 22.5rem;
  transform: translateX(-35%); /* shift it slightly left */
  z-index: 10; /* keep it on top of text */
}