.App {
  background-color: #e1e1e1;
  height: 100vh;
  width: 100vw;
}

.search-bar-container {
  padding-top: 20vh;
  width: 40%;
  margin: 0 auto;
  width: 90%;                  /* responsive */
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px;

}
