form {
    display: grid;
    gap: 12px;               /* controls spacing between all children */
    padding: 0px;
    position: relative;
}

form input {
    width: 70vh;
    padding: 8px 12px;
    border: 3px solid rgb(102, 102, 102);
    border-radius: 0;
    color: black;
    box-sizing: border-box;
    justify-self: center;    /* centers inputs in the grid */
}

form button {
    width: 70vh;
    padding: 8px 12px;
    border: 3px solid rgb(46, 120, 139);
    
    border-radius: 0;
    background-color: rgb(46, 120, 139);
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    justify-self: center;
    margin-bottom: 2%;    /* centers button in the grid */
}